In [37]:
import pandas as pd

data = {
    'Nome': ['Luiz', 'Gabriel', 'João', 'Paulo', 'Maria', 'Miguel'],
    'Idade': [16, 15, 19, 24, 27, 30],
    'Cidade': ['Jundiaí', 'São Paulo', 'Francisco Morato', 'Campinas', 'Jundiaí', 'Campinas']
}

data = pd.read_csv('dados_usuarios.csv')

cadastro = pd.DataFrame(data)
cadastro

       Nome  Idade            Cidade  Altura
0      Luiz     16           Jundiaí    1.98
1   Gabriel     15         São Paulo    1.64
2      João     19  Francisco Morato    1.76
3     Paulo     24          Campinas    1.87
4     Maria     27           Jundiaí    1.54
5    Miguel     30          Campinas    1.59
6     Lucas     45         São Paulo    2.00
7  Jeremias     31  Francisco Morato    1.73

In [38]:
nomes = cadastro['Nome']
nomes

0        Luiz
1     Gabriel
2        João
3       Paulo
4       Maria
5      Miguel
6       Lucas
7    Jeremias
Name: Nome, dtype: object

In [39]:
filtro = cadastro[cadastro['Idade'] > 16]
filtro

       Nome  Idade            Cidade  Altura
2      João     19  Francisco Morato    1.76
3     Paulo     24          Campinas    1.87
4     Maria     27           Jundiaí    1.54
5    Miguel     30          Campinas    1.59
6     Lucas     45         São Paulo    2.00
7  Jeremias     31  Francisco Morato    1.73

In [40]:
media_idade = cadastro.groupby('Cidade')['Idade'].mean()
media_idade

Cidade
Campinas            27.0
Francisco Morato    25.0
Jundiaí             21.5
São Paulo           30.0
Name: Idade, dtype: float64

In [41]:
#cadastro['Altura'] = [1.98, 1.64, 1.76, 1.87, 1.54, 1.59]
#cadastro

In [42]:
#cadastro.to_csv('dados_usuarios.csv', index=False)